@use "../../app.scss" as *;
@use "../../styles/partials/variables.scss" as *;



.headerText {
    color: #afafaf;
}

.nextVideo {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 0rem;
    
    &-img {
        
        width: 10rem;
        border-radius: 4px;
        
        img{
            border-radius: 4px;
            width: 100%;
        }
        
    }
    
    &-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: .5rem 0;
        width: 30%;
        margin-left: .5rem;
        
        @media (min-width: 768px) {
            width: 20%;
        }

        @media (min-width: 1279px) {
            width: 100%;
            padding: 0;
        }

        h4 {
            color: black;
            margin: 0;
            padding: 0;
        }

        p {
            margin: 0;
            padding: 0;
        }

    }

}