* {
    box-sizing: border-box;
}

// Main Colors

$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095FF;
$Silver: #AFAFAF;
$White: #FFFFFF;

// Secondary Colors

$BrainFlix-DarkBlack: #000000;
$BrainFlix-DarkBlue: #0065AD;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;


// Font Names

$Bold-Font: 'Avenir Next LT Pro Bold';
$Demi-Font: 'Avenir Next LT Pro Demi';
$Regular-Font: 'Avenir Next LT Pro Regular';

@font-face {
    font-family: $Bold-Font;
    src: url('./assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
    font-family: 'Avenir Bold', Arial, sans-serif;
}

@font-face {
    font-family: $Demi-Font;
    src: url('./assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype');
    font-family: 'Avenir Demi', Arial, sans-serif;
}

@font-face {
    font-family: $Regular-Font;
    src: url('./assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
    font-family: 'Avenir Regular', Arial, sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}

h1 {
    // Page Header 
    font-family: $Bold-Font;
}

h2 {
    // Section Header
    font-family: $Bold-Font;
}

h3 {
    // Subheader
    font-family: $Demi-Font;
}

h4 {
    // Subheader
    font-family: $Demi-Font;
}

p {
    // Body Copy and Footer Copy
    font-family: $Regular-Font;
}

.bodyDiv {
    padding: 0rem 2rem;
}

.pageHandler {

    display: flex;
    flex-direction: column;

    @media (min-width: 1279px) {
        flex-direction: row;
    }

    &-videoInfoComments {
        margin-right: 2rem;
        padding-right: 2rem;
        padding: 0rem 2rem;

        @media (min-width: 1279px) {
            border-right: 2px solid $Mercury;
        }
    }

    &-nextVideo {
        @media (max-width: 1279px) {
            padding: 0rem 2rem;
        }
    }

}