@use "./styles/partials/variables.scss" as *;

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    // Page Header 
    font-family: $Bold-Font;
}

h2 {
    // Section Header
    font-family: $Bold-Font;
}

h3 {
    // Subheader
    font-family: $Demi-Font;
}

h4 {
    // Subheader
    font-family: $Demi-Font;
}

p {
    // Body Copy and Footer Copy
    font-family: $Regular-Font;
}

.bodyDiv {
    padding: 0rem 2rem;
}

.pageHandler {

    display: flex;
    flex-direction: column;

    @media (min-width: 1280px) {
        flex-direction: row;
    }

    &-videoInfoComments {
        margin-right: 0rem;
        padding-right: 1rem;
        padding: 0rem 2rem;

        @media (min-width: 768px) {
            margin-right: 2rem;
            padding-right: 1rem;
            padding: 0rem 2rem;
        }
        
        @media (min-width: 1280px) {
            border-right: 2px solid $Mercury;
        }
    }

    &-nextVideo {
        @media (max-width: 1280px) {
            padding: 0rem 2rem;
        }
    }

}